*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: #f5f5f5;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    
}

nav {
    width: Fixed (1,280px)px;
    height: Hug (82px)px;
    top: 26px;
    padding: 0px 8px 0px 8px;
    gap: 8px;
    opacity: 0px;
    background: linear-gradient(0deg, #1C1B1F, #1C1B1F), linear-gradient(0deg, rgba(208, 188, 255, 0.08), rgba(208, 188, 255, 0.08));
}

nav li {
    display: inline-block;
    margin-right: 95px; 
    width: 210px;
    height: Hug (80px)px;
    padding: 12px 0px 16px 0px;
    gap: 4px;
    opacity: 0px;
    align-items: center;
    
}



nav a {
    color: #E6E1E5;
    width: 310px;
    height: 16px;
    gap: 0px;
    opacity: 0px;
    text-decoration: none;
    padding: 40px 40px;
    margin-left: 100px;
}

nav a:hover {
    background-color: #111;
    width: Hug (64px)px;
    height: Hug (32px)px;
    gap: 0px;
    border-radius: 16px 0px 0px 0px;
    opacity: 0px;
}

nav ul li div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-align: center;
}
    
nav ul li img {
    margin-bottom: -22px; 
    transform: scale(1.1);
    transform: scale(1.2);
    width: 15px;
    height: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    margin-left:100px;
}

.barra-inferior {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #6750A414; 
    padding: 8px, 4px, 8px, 4px; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.centro {
    gap: 0px;
    opacity: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

.circulo-usuario {
    display: flex;
    align-items: center;
    background-color: transparent; 
    border: 1px solid #6750A4;
    border-radius: 64.68px ; 
    width: auto;
    height: auto;
    padding: 15px; 
    margin-bottom: 5px; 
    margin-left: 10px; 
    margin-right: 100px; 
    margin-top: 5px;
}

.circulo-usuario span {
    border-right: 1px solid rgba(103, 80, 164, 1); 
    padding-right: 10px; 
}

.circulo-usuario span,
.circulo-usuario a {
    color: rgba(103, 80, 164, 1); 
}

.circulo-usuario a {
    color: rgba(78, 60, 130, 1); 
    text-decoration: none; 
    font-weight: bold; 
    padding-left: 10px; 
}

.circulo-usuario a img {
    margin-left: 10px; 
}

.esquerda .botao-voltar {
    display: flex;
    align-items: center;
    margin-left: 110px; 
    font-size: 14px;
    width: 100px;
    height: 40px;
    border-radius: 64.68px;
    background-color: #6750A4;
    color: #FFFFFF;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    padding: 0;
    border: none;
    cursor: pointer;
}

.esquerda .botao-voltar span {
    margin-right: 25px; 
}

.esquerda .botao-voltar img {
    vertical-align: middle; 
}

.esquerda .botao-voltar span img {
    width: 15x; 
    height: 15px; 
    margin-left: 15px;
    margin-right: -10px;
}


main {
    max-width: 1160px;
    padding: 20px;
    text-align: center;
    margin-top: 80px;
    margin-left: 100px;
    border-radius: 26px;
    align-items: center;
    
}

main h2 {
    font-size: 21px;
    color: #3D3C40;
    margin-bottom: 20px;
    margin-top: -80px;

    
}

.jogos-container {
    background: #D9D9D9;
    padding: 20px;
    border-radius: 8px;
    border: 4px solid transparent;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: #1C1B1F;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column; /* Mantém os inputs e a linha na mesma coluna */
    border-radius: 26px;
    
}

.jogos-container h3 {
    width: 315px;
    height: 16px;
    gap: 0px;
    opacity: 0px;
    color: #3D3C40;
    font-size: 21px;
    font-weight: 700;
    line-height: 15.52px;
    text-align: left;
}


.tags-input-wrapper {
    position: relative;
}

.options-container {
    display: none;
    position: absolute;
    top: 100%; /* Posiciona abaixo do input */
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0px 10px 17px 0px #00000063;
    z-index: 1;
}


.options-container label {
    display: block;
    padding: 10px;
    cursor: pointer;
    
}

.options-container label:hover {
    background-color: #f0f0f0;
}

.tags-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}



.options-container input[type="checkbox"] {
    margin-left: 90%;
    width: 20px;
    height: 20px;
    gap: 20px;
    opacity: 0px;

}


.tags-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}







.inputs-e-linha {
    display: flex; /* Para alinhar os inputs horizontalmente */
    gap: 100px; /* Espaçamento entre os inputs */
}

.input-container {
    flex-direction: column;
    display: flex; /* Para alinhar os itens horizontalmente */
    gap: 10px; /* Espaçamento entre os itens */
    flex: 1; /* Ocupa o espaço disponível */
    
}

.input-with-button {
    position: relative; /* Adicionado para posicionar o botão corretamente */
}

.input-with-button input {
    padding-right: 100px; /* Espaço para o botão dentro do input */
}

.adicionar-button {
    position: absolute;
    right: 80px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    background: #E8DEF8;


}

.adicionar-button:hover {
    background-color: #e8def8a2;
}

.input-container label {
    font-size: 16px;
    font-weight: 500;
    color: #403e3c;
    text-align: left;
    
}

#nome-jogo{
    background: linear-gradient(0deg, #fffbfe9f, #fffbfe9c),
linear-gradient(0deg, rgba(113, 90, 174, 0.11), rgba(113, 90, 174, 0.11));

}


.input-container input {
    padding: 15px; /* Aumenta o padding para aumentar o tamanho do input */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Define as bordas ovais */
    box-sizing: border-box;   
}


.tags-input-wrapper {
    display: flex;
    align-items: center;
    position: relative; /* Necessário para posicionar o botão corretamente */
}

.tags-input-wrapper input {
    flex-grow: 1;
    padding-right: 40px; /* Espaço para o botão */
    
}


.input-novos-jogos {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento entre os inputs */
    margin-top: 10px; /* Espaçamento entre o título e os inputs */
    
}

.input-novos-jogos input {
    width: 100%; /* Faz com que os inputs ocupem 100% do contêiner */
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Define as bordas ovais */
    box-sizing: border-box;   
}


.linha-preta {
    width: 100%;
    height: 1px; /* Altura da linha preta */
    background-color: #000; /* Cor da linha preta */
    margin-top: 20px; /* Espaçamento superior */
    margin-bottom: 20px; /* Espaçamento inferior */
}

